@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
*{
   font-family: 'Nunito', sans-serif;
   text-decoration: none;
}
p{
   color: #000 !important;
}
.btn-primary{
   background-color: #8e44ad !important;
   border-color: #8e44ad !important;
}
.text-purple{
   color: #8e44ad !important;
}
.top{
   margin-top: 100px;
}

@media (min-width:0px) and (max-width:768px){
   .hero{
      display: none;
   }
   .top{
      margin: 10px 10px;
   }
}

.ojo:hover{
   color: #8e44ad !important;
   /* background-color: #000 !important; */
   /* border-color: #000 !important; */
}

